<!--<footer th:fragment="myfooter" class="bg-dark text-center text-white">-->
<!--    &lt;!&ndash; Grid container &ndash;&gt;-->
<!--    <div class="container p-4">-->
<!--        &lt;!&ndash; Section: Social media &ndash;&gt;-->
<!--        <section class="mb-4">-->
<!--            &lt;!&ndash; Facebook &ndash;&gt;-->
<!--            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--            ><i class="fab fa-facebook-f"></i-->
<!--            ></a>-->

<!--            &lt;!&ndash; Twitter &ndash;&gt;-->
<!--            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--            ><i class="fab fa-twitter"></i-->
<!--            ></a>-->

<!--            &lt;!&ndash; Google &ndash;&gt;-->
<!--            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--            ><i class="fab fa-google"></i-->
<!--            ></a>-->

<!--            &lt;!&ndash; Instagram &ndash;&gt;-->
<!--            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--            ><i class="fab fa-instagram"></i-->
<!--            ></a>-->

<!--            &lt;!&ndash; Linkedin &ndash;&gt;-->
<!--            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--            ><i class="fab fa-linkedin-in"></i-->
<!--            ></a>-->

<!--            &lt;!&ndash; Github &ndash;&gt;-->
<!--            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--            ><i class="fab fa-github"></i-->
<!--            ></a>-->
<!--        </section>-->
<!--        &lt;!&ndash; Section: Social media &ndash;&gt;-->

<!--        &lt;!&ndash; Section: Form &ndash;&gt;-->
<!--        <section class="">-->
<!--            <form action="">-->
<!--                &lt;!&ndash;Grid row&ndash;&gt;-->
<!--                <div class="row d-flex justify-content-center">-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                    <div class="col-auto">-->
<!--                        <p class="pt-2">-->
<!--                            <strong>Sign up for our newsletter</strong>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->

<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                    <div class="col-md-5 col-12">-->
<!--                        &lt;!&ndash; Email input &ndash;&gt;-->
<!--                        <div class="form-outline form-white mb-4">-->
<!--                            <input type="email" id="form5Example21" class="form-control"/>-->
<!--                            <label class="form-label" for="form5Example21">Email address</label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->

<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                    <div class="col-auto">-->
<!--                        &lt;!&ndash; Submit button &ndash;&gt;-->
<!--                        <button type="submit" class="btn btn-outline-light mb-4">-->
<!--                            Subscribe-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash;Grid row&ndash;&gt;-->
<!--            </form>-->
<!--        </section>-->
<!--        &lt;!&ndash; Section: Form &ndash;&gt;-->

<!--        &lt;!&ndash; Section: Text &ndash;&gt;-->
<!--        <section class="mb-4">-->
<!--            <p>-->
<!--                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum-->
<!--                repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam-->
<!--                eum harum corrupti dicta, aliquam sequi voluptate quas.-->
<!--            </p>-->
<!--        </section>-->
<!--        &lt;!&ndash; Section: Text &ndash;&gt;-->

<!--        &lt;!&ndash; Section: Links &ndash;&gt;-->
<!--        <section class="">-->
<!--            &lt;!&ndash;Grid row&ndash;&gt;-->
<!--            <div class="row">-->
<!--                &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--                    <h5 class="text-uppercase">Links</h5>-->

<!--                    <ul class="list-unstyled mb-0">-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-white">Link 1</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-white">Link 2</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-white">Link 3</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-white">Link 4</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                &lt;!&ndash;Grid column&ndash;&gt;-->

<!--                &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--                    <h5 class="text-uppercase">Links</h5>-->

<!--                    <ul class="list-unstyled mb-0">-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-white">Link 1</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-white">Link 2</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-white">Link 3</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-white">Link 4</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                &lt;!&ndash;Grid column&ndash;&gt;-->

<!--                &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--                    <h5 class="text-uppercase">Links</h5>-->

<!--                    <ul class="list-unstyled mb-0">-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-white">Link 1</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-white">Link 2</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-white">Link 3</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-white">Link 4</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                &lt;!&ndash;Grid column&ndash;&gt;-->

<!--                &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--                    <h5 class="text-uppercase">Links</h5>-->

<!--                    <ul class="list-unstyled mb-0">-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-white">Link 1</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-white">Link 2</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-white">Link 3</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-white">Link 4</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                &lt;!&ndash;Grid column&ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash;Grid row&ndash;&gt;-->
<!--        </section>-->
<!--        &lt;!&ndash; Section: Links &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; Grid container &ndash;&gt;-->

<!--    &lt;!&ndash; Copyright &ndash;&gt;-->
<!--    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">-->
<!--        © 2020 Copyright:-->
<!--        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>-->
<!--    </div>-->
<!--    &lt;!&ndash; Copyright &ndash;&gt;-->
<!--</footer>-->
<!--&lt;!&ndash; Footer &ndash;&gt;-->


<footer th:fragment="myfooter" class="bg-dark text-center text-white">
    <div class="container p-4">
        <section class="mb-4">
            <h4>Follow Us</h4>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
        </section>

        <section class="">
            <h4>Join Our Newsletter</h4>
            <p>Stay up-to-date with the latest travel tips, destinations, and offers.</p>
            <form action="#">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-5 col-12">
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example21" class="form-control"/>
                            <label class="form-label" for="form5Example21">Enter your email</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-light mb-4">Subscribe</button>
                    </div>
                </div>
            </form>
        </section>

        <section class="mb-4">
            <h4>About Us</h4>
            <p>We are passionate travelers sharing our experiences and tips with fellow adventurers. Join us on our journey!</p>
        </section>

        <section class="">
            <h4>Explore Links</h4>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#!" class="text-white">Home</a></li>
                        <li><a href="#!" class="text-white">Destinations</a></li>
                        <li><a href="#!" class="text-white">About</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#!" class="text-white">Travel Tips</a></li>
                        <li><a href="#!" class="text-white">Contact</a></li>
                        <li><a href="#!" class="text-white">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Travel Adventures. All rights reserved.
    </div>
</footer>